.dashboard__page {
    .info__box {
        border: 0.3px solid #d9e6fd5b;
        box-shadow: 0px 0px 10px 0px #3A3A3A0D;
        border-radius: .875rem;
        min-height: 161px;
        flex-direction: row-reverse;

        .icon__box {
            width: 3.75rem;height: 3.75rem;background-color: rgba(217, 230, 253, 0.21); 
        }

        .number {
            color: var(--black02);
        }
    }


    .security__info__box {
        max-width: 834px;
    }
    .check__in__btn__box {
        max-width: 600px;

        .btn {
            color: var(--black01);
            border-radius: var(--radius);

            .icon {
                width: 2.5rem;height: 2.5rem;border-radius: .5rem;background-color: var(--light-blue);
                transition: all 0.3s ease-in-out;

            }
            &:hover, &:focus, &:active {
                background-color: var(--light-blue);border-color: var(--light-blue);color: var(--dark);
                .icon {
                    background-color: #F5F8FF;
                }
            }
        }

        .check__in__btn {
            background-color: #F5F8FF;border-color: #F5F8FF;  
        }
        .check__out__btn {
            background-color: transparent;border-color: var(--light-blue); 
            
            &:hover, &:focus, &:active {
                background-color: var(--light-blue);border-color: var(--light-blue);color: var(--dark);
                .icon {
                    background-color: #F5F8FF;
                }
            }
        }
    }
   
}

@media (max-width: 1399px) {
    .dashboard__page .notification__list {
        max-height: 396px;
    }
}
@media (max-width: 575px) {
    .dashboard__page {
        .info__box {
            flex-direction: column;gap: 1rem;
        }
    }
}

.outline__btn {
    width: 2.5rem;height: 2.5rem;border-radius: .5rem;border: 1px solid rgba(217, 230, 253, 0.6);
}


.notification__list {
    max-height: 321px;
    overflow-y: auto;

    &.h-560 {
        max-height: 560px;
    }

    li {
        &:not(:last-child) {
            border-bottom: 1px solid var(--light-blue);
        }

        a {
            color: var(--gray01);

            &.danger {
                color: var(--red);
            }

            .time {
                color: var(--gray03);
            }

            &:hover, &:focus {
                background-color: var(--gray04);
            }
        }
    }
}